@model webCayCanh.huongDT.Data.DanhGiaDh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DanhGiaDh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungDg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungDg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThangDiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThangDiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDhNavigation.MaDh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDg">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
