@model IEnumerable<webCayCanh.huongDT.Data.DanhGiaDh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungDg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThangDiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungDg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThangDiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDhNavigation.MaDh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDg">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDg">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDg">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
